Pyrogram=2.0.30
Tgcrypto
Pymongo[srv]==3.12.3
Motor==2.5.1
Marshmallow==3.14.1
Umongo==3.0.1
Requests
bs4
Aiofiles
imdbpy==2021.4.18
pynewtonmath
heroku3
pytz
aiohttp
googletrans==3.1.0a0 # Google Translater 
gTTS # Google Translater
